# Feature Engineering
## Essay Features
We obtain cleaned text from data:

In [31]:
import pandas as pd
essays = pd.read_csv('data/train_logs_extracted_text.csv')
essays

,id,text,len_text,sentence_count,paragraph_count
0,001519c8,qqqqqqqqq qq qqqqq qq qqqq qqqq. qqqqqq qqq q...,1528,14,3
1,0022f953,"qqqq qq qqqqqqqqqqq ? qq qq qqq qqq qqq, qqqqq...",1675,16,1
2,0042269b,qqqqqqqqqqq qq qqqqq qqqqqqqqq qq qqqqqqqqqqq ...,2587,19,6
3,0059420b,qq qqqqqqq qqqqqq qqqqqqqqqqqqq qqqq q qqqq qq...,1154,13,1
4,0075873a,"qqqqqqqqqqq qq qqq qqqqq qq qqqqqqqqqq, qqq qq...",1425,16,5
...,...,...,...,...,...
2466,ffb8c745,"qq qqqqq'q qqqqqqq, qqq'q qqqqq q qqqq qq...",1634,13,1
2467,ffbef7e5,"qqqq qqqqqq qqqqq qq qqqqq qqqqq, qq qq q qqqq...",2335,30,6
2468,ffccd6fd,qqqqqq qqqq q qqqqqqq qqqqqqqqq qq qqqqqq qqqq...,2761,4,3
2469,ffec5b38,"qqqqqqqqqq qqqqqqq, qqqqqq qqqq qqqqq qqqq qqq...",2552,27,1
2470,fff05981,qq qqqq qqqqqqq qqqqqqqq qq qqqqqqqqqqq qq qq ...,1492,11,5

In [38]:
# reuse code from text_process
import preprocess.text_process as tpre
features = essays.drop('text',axis=1)
texts = essays['text']
processor = tpre.TextProcessor()
for i in range(0,texts.shape[0]):
    words = processor.split_to_word(texts[i])
    sentences = processor.split_to_sentence(texts[i])
    word_lengths = [len(w) for w in words]
    sent_lengths = [len(processor.split_to_word(s)) for s in sentences]
    features.loc[i,'word_count'] = len(word_lengths)
    features.loc[i,'word_length_mean'] = sum(word_lengths)/len(word_lengths)
    features.loc[i,'word_length_std'] = pd.Series(word_lengths).std()
    features.loc[i,'sent_length_mean'] = sum(sent_lengths)/len(sent_lengths)
    features.loc[i,'sent_length_std'] = pd.Series(sent_lengths).std()

In [39]:
features

,id,len_text,sentence_count,paragraph_count,word_count,word_length_mean,word_length_std,sent_length_mean,sent_length_std
0,001519c8,1528,14,3,256.0,4.835938,2.472682,18.285714,6.497675
1,0022f953,1675,16,1,330.0,3.900000,2.140718,20.625000,13.608208
2,0042269b,2587,19,6,408.0,5.254902,2.743538,21.473684,5.263801
3,0059420b,1154,13,1,208.0,4.485577,2.633816,16.000000,6.493587
4,0075873a,1425,16,5,255.0,4.450980,2.437516,15.937500,8.667708
...,...,...,...,...,...,...,...,...,...
2466,ffb8c745,1634,13,1,276.0,4.717391,2.606256,21.230769,6.622611
2467,ffbef7e5,2335,30,6,444.0,4.155405,2.163872,14.800000,7.526505
2468,ffccd6fd,2761,4,3,203.0,4.497537,2.464349,50.750000,10.719919
2469,ffec5b38,2552,27,1,417.0,4.997602,2.915887,15.444444,5.631869
2470,fff05981,1492,11,5,244.0,5.049180,2.944906,22.181818,17.040060

In [41]:
features.to_csv('data/train_text_features.csv',index=False)