# Feature Engineering
## Essay Features
We obtain cleaned text from data:

In [1]:
import pandas as pd
essays = pd.read_csv('data/train_logs_extracted_text.csv')
essays

,id,text,len_text,sentence_count,paragraph_count
0,001519c8,qqqqqqqqq qq qqqqq qq qqqq qqqq. qqqqqq qqq q...,1528,14,1
1,0022f953,"qqqq qq qqqqqqqqqqq ? qq qq qqq qqq qqq, qqqqq...",1675,15,1
2,0042269b,qqqqqqqqqqq qq qqqqq qqqqqqqqq qq qqqqqqqqqqq ...,2587,19,1
3,0059420b,qq qqqqqqq qqqqqq qqqqqqqqqqqqq qqqq q qqqq qq...,1154,13,1
4,0075873a,"qqqqqqqqqqq qq qqq qqqqq qq qqqqqqqqqq, qqq qq...",1425,16,1
...,...,...,...,...,...
2466,ffb8c745,"qq qqqqq'q qqqqqqq, qqq'q qqqqq q qqqq qq...",1634,13,1
2467,ffbef7e5,"qqqq qqqqqq qqqqq qq qqqqq qqqqq, qq qq q qqqq...",2335,29,1
2468,ffccd6fd,qqqqqq qqqq q qqqqqqq qqqqqqqqq qq qqqqqq qqqq...,2761,4,1
2469,ffec5b38,"qqqqqqqqqq qqqqqqq, qqqqqq qqqq qqqqq qqqq qqq...",2552,27,1
2470,fff05981,qq qqqq qqqqqqq qqqqqqqq qq qqqqqqqqqqq qq qq ...,1492,11,1